<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>负荷分布</title>

		<!-- Load Bootstrap CSS -->
		<link href="../../lib/css/bootstrap/bootstrap.min.css" rel="stylesheet">

		<!-- Load Customize CSS -->
		<link href="../../lib/css/customize/customize.css" rel="stylesheet">
	</head>

	<!-- Body definition -->

	<body class="page-header-fixed page-quick-sidebar-over-content">

		<!-- Top navigator -->
				<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header" style="background: white; height: 50px;padding: 5px;margin-left: 8%;">
        <!--<a class="navbar-brand" href="#">-->
        	<span style="font-family: '微软雅黑'; font-size: 25px; color:#00A6AD"><strong>SIEMENS</strong></span>
          <!--<img src="../../../../img/logo2.jpg" class="" alt="Responsive image" style="height:50px">-->
        <!--</a>-->
      </div>
      <div id="navbar" class="collapse navbar-collapse" style="margin-right: 8%;">
      	<ul class="nav navbar-nav navbar-right" style="border-left: solid white 1px;">
          <li><a class="glyphicon glyphicon-calendar">&nbsp;2016.6.1</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ><a href="#" >母线及专线负荷管理</a></li>
          <li class="scactive"><a style="color:#00A6AD" href="#">VIP用户负荷管理</a></li>
          <li ><a href="#">电量管理</a></li>
          <li ><a href="#">后台管理</a></li>
          <li class="dropdown" style="margin-bottom: -2px;">
            <a href="#" class="dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">&nbsp;<span style="font-family: '黑体';">管理员</span><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">用户设置</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">退出登录</a></li>
            </ul>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>

		<!-- Container -->
		<div class="col-md-10 col-lg-offset-1">
			<div style="float: left;">
				<div id="swicher" style="float: left; height: 22px; width:22px;background: #00868C;"><span class="glyphicon glyphicon-menu-hamburger" style="float: left;color:white;margin-left: 4px; margin-top:3px;"></span></div>
				<div style=" position:absolute; margin-left: 40px; margin-top: 6px; color: #000000;">
					<a href="historicalLoad.html">历史负荷</a>　
					<a href="powerCharacteristics.html">用电特征曲线</a>　
					<a href="powerMode.html">用电模式</a>　
					<a href="powerInfluenceFactors.html">用电影响因素</a>　
					<a href="loadTransh.html">负荷同比变化</a>　
					<a href="loadDistr.html"  style="color:#009999;" >负荷分布</a>　
					<a href="powerIndustryCom.html">用电行业对比</a>　
					<a href="indusCluster.html">地区行业聚类</a>　　
				</div>
				<div class="drawerPanel-sc">
					<div class="drawerPanel-inner">
						<div class="drawerContentPanel">
							<p>Drawer</p>
						</div>
					</div>
				</div>
			</div>
			<a href="#"><img src="../../img/headicon2.jpg" style="float: right; margin-top: -3px;margin-right: -20px;" /></a>
			<a href="#"><img src="../../img/freshicon.jpg" style="float: right; margin-top: -3px;margin-right: 5px;" /></a>
			<hr  style="margin-left: -1%; width: 102%; background-color: #9D9D9D;height: 1px;" />
			<div style="float: left; margin-left: 796px; margin-top:-20px;width: 56px; background: #009999;height: 4px;"></div>
			<div class="panel panel-default class="col-md-12">
				<div class="panel-heading" style="background:#009999;">
					<h4 class="panel-title">
	            		<div style="color: white;"><img style="margin-top:-5px" src="../../img/tabicon1.jpg" /><span style="margin-left: 5px">负荷分布</span><img style=" float:right; margin-right: -10px;" src="../../img/tabicon2.jpg"/><img style="float:right;margin-right: 5px;" src="../../img/tabicon3.jpg"/><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><img id="arrow1" style="float:right;margin-right: 5px;" src="../../img/upicon.jpg"/></a> </div>
	         		</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse in">
					<div class="panel-body">
						<div class="col-md-6" id="pie-chart1"></div>
						<div class="col-md-6" id="pie-chart2"></div>
					</div>
				</div>
			</div>
				
		</div>

		<!-- Load JQuery lib -->
		<script src="../../lib/js/jquery/jquery-2.2.4.js"></script>

		<!-- Load Bootstrap lib -->
		<script src="../../lib/js/bootstrap/bootstrap.js"></script>

		<!-- Load ECharts lib -->
		<script src="../../lib/js/echart/echarts.min.js"></script>

		<!-- Load Customize JS -->
		<script src="../../controller/base/drawer.js"></script>
		

		<!-- Load Page Controller JS -->
		<script src="../../controller/js/Vip/loadDistr.js"></script>
	</body>

</html>